<div class="col-md-6 mx-auto">
  <h2>User Info</h2>

  <div class="container">
    <div class="row">
    <% if @user.errors.any? %>
      <div class="error-messages">
        <h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>

  <div class="form-body">
    <%= form_with model: @user do |f| %>
    <div class="form-group">
      <label>Name</label>
      <div>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label>Image</label>
      <div>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>
    </div>
    <div class="form-group">
      <label>Introduction</label>
      <div>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Update User',class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
