<div class="col-md-3">
  <div>
    <h2>User info</h2>
    <table class="table table-striped">
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </table>
  </div>

  <!--<div>-->
  <!--  <i class="fa-solid fa-user-gear"></i>-->
  <!--  <= link_to "a", edit_user_path(user.id), class: "btn btn_info" >-->
  <!--</div>-->
  <a href="<%= edit_user_path(user.id) %>" class="btn btn-outline-secondary d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-user-gear"></i>
  </a>

  <div class="container">
    <div class="row no-gutters">
      <h2>New book</h2>
      <div class="form-body">
        <%= form_with model: Book do |f| %>
          <div class="form-group">
            <label>Title</label>
            <%= f.text_field :title %>
          </div>
          <div class="form-group">
            <label>Body</label>
            <%= f.text_area :body %>
          </div>
          <div class="form-group">
            <%= f.submit 'Create Book' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>