<%= flash[:notice] %>

<div class="row">
  <%= render 'books/user', user: @book.user %>

  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tr>
        <td>
          <%= link_to user_path(@book.user_id) do %>
            <%= image_tag @book.user.get_profile_image %>
            <p><%= @book.user.name %></p>
          <% end %>
        </td>
        <td><%= link_to @book.title, "/books/#{@book.id}" %></td>
        <td><%= @book.body %></td>
        <td>
        <% if @book.user_id == current_user.id%>
        </td>
        <td>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
        </td>
        <td>
          <%= link_to "Destroy", "/books/#{@book.id}", method: :delete, class: "btn btn-danger", "data-confirm"=>"Are you sure?" %>
        </td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    </table>
  <table>
    <% @book_comments.each do |comment| %>
    <tr>
        <td>
          <%= image_tag comment.user.get_profile_image %>
          <p><%= link_to comment.user.name, user_path(comment.user_id) %></p>
        </td>
        <td><%= comment.comment %></td>
        <% if comment.user == current_user %>
          <td><%= link_to "削除", book_book_comment_path(comment.book, comment), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
    </tr>
    <% end %>
  </table>

  <div>
    <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

  </div>
</div>