<!DOCTYPE html>
<html>
  <head>
    <title>Booker2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' >-->
    <script src="https://kit.fontawesome.com/0a7485d82d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm" style="background-color: #343A40;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "Bookers", root_path, class: "navbar-brand text-light" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto d-flex">
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-house text-light"></i>
                  <%= link_to "Home", user_path(current_user.id), class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-users text-light"></i>
                  <%= link_to "Users", users_path, class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-book-open text-light"></i>
                  <%= link_to "Books", books_path, class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-right-from-bracket text-light"></i>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-light" %>
                </div>
              </li>
            </ul>
            <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-house text-light"></i>
                  <%= link_to "Home", root_path, class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-link text-light"></i>
                  <%= link_to "About", about_path, class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-user-plus text-light"></i>
                  <%= link_to "Sign up", new_user_registration_path, class: 'text-light' %>
                </div>
              </li>
              <li class="nav-item">
                <div class='nav-link'>
                  <i class="fa-solid fa-right-to-bracket text-light"></i>
                  <%= link_to "Log in", new_user_session_path, class: 'text-light' %>
                </div>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>

    </header>

    <main class="mb-auto">
      <div class='container'>
        <div class='row'>
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <div class='container mt-5'>
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
